:root {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
    background-color: #EEF5FF;
}

main {
    background-color: #fff;
    width: 75rem;
    min-height: 42.5rem;
    margin: auto;
    margin-top: 10rem;
}

aside {
    float: left;
    width: 20rem;
    min-height: 40rem;
    margin: 1rem;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-start
}

aside .StepNumbers {
    display: flex;
    flex-direction: column;
    float: left;
    height: 20rem;
    width: 3rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
}

aside .StepNumbers span {
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .StepNumbers span:first-child {
    background-color: #BFE1FD;
    color: #05254E;
    font-weight: 500;
}

aside .StepInfo {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    float: left;
    height: 20rem;
    justify-content: space-around;
    margin-left: 1rem;
    font-size: 1.25rem;
}

aside .StepInfo .Title {
    color: #fff;
    font-weight: 250;
    font-size: 1.1rem;
}

#YourInfo .Title-1 p,
#YourInfo .Content-1 ::placeholder,
#SelectPlan .Title-2 p,
#SelectPlan .Content-2 span,
#AddOns .Options p,
#AddOns .Options span,
#FinishingUp {
    color: grey;
}

aside .StepInfo .Content {
    color: #fff;
    font-weight: 500;
}

.hidden {
    display: none;
}

.step1-container,
.step2-container,
.step3-container,
.step4-container {
    display: flex;
    flex-direction: column;
    min-height: 40rem;
    justify-content: space-between;
    width: 40rem;
    margin: auto;
}

#YourInfo .step1-inner-container,
#SelectPlan .step2-inner-container,
#AddOns .step3-inner-container,
#FinishingUp .step4-inner-container,
#ThankYou {
    float: right;
    width: 40rem;
    margin-top: 1rem;
    margin-right: 7.5rem;
    min-height: 30rem;
}

#YourInfo .Title-1 h2,
#SelectPlan .Title-2 h2,
#AddOns .Title-3 h2,
#FinishingUp .Title-4 h2 {
    color: #05254E;
    font-size: 3rem;
}

#YourInfo .Title-1 p,
#SelectPlan .Title-2 p,
#AddOns .Title-3 p,
#FinishingUp .Title-4 p {
    font-size: 1.4rem;
    margin-top: -1.5rem;
}

#YourInfo .Content-1 {
    margin-top: 2rem;
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    line-height: 1.4rem;
}

#YourInfo .Content-1 span,
#SelectPlan .Content-2 h3,
#AddOns .Content-3 h3 {
    color: #05254E;
    font-weight: 500;
    font-size: 1.4rem;
}

#YourInfo .Content-1 input[type="text"],
#YourInfo .Content-1 input[type="tel"],
#YourInfo .Content-1 input[type="email"] {
    height: 3rem;
    margin-top: 0.5rem;
}

#YourInfo .Content-1 input:focus {
    outline: none;
    border-color: #05254E;
}

#YourInfo .Content-1 input {
    border-radius: 0.75rem;
    border-color: lightgrey;
    border: 0.1rem solid lightgrey;
    cursor: pointer;
}

#YourInfo .Links-1 {
    display: flex;
    height: 4rem;
    justify-content: flex-end;
    margin: auto;
    width: 40rem;
    margin-top: -4rem 
}

#YourInfo .required {
    display: flex;
    justify-content: space-between;
}

#YourInfo .required .name-error,
#YourInfo .required .email-error,
#YourInfo .required .tel-error {
    color: #DC4C6B;
}

#YourInfo .Links-1 #Next-1,
#SelectPlan .Links-2 #Next-2,
#AddOns .Links-3 #Next-3,
#FinishingUp .Links-4 #Next-4 {
    height: 4rem;
    width: 11rem;
    background-color: #05254E;
    color: #fff;
    border: none;
    border-radius: 0.75rem;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
}

#SelectPlan .Content-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

#SelectPlan .Content-2 img {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

#SelectPlan .Content-2 h3 {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

#SelectPlan .Content-2 span,
#SelectPlan .Content-2 p {
    margin-left: 1.5rem;
    font-size: 1.1rem;
}

#SelectPlan .Content-2 p {
    color: #05254E;
    font-weight: 500;
}

#SelectPlan .Content-2 .Arcade,
#SelectPlan .Content-2 .Advanced,
#SelectPlan .Content-2 .Pro {
    border: 1px solid lightgray;
    width: 12rem;
    min-height: 13rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

#SelectPlan .Content-2 .Arcade:hover,
#SelectPlan .Content-2 .Advanced:hover,
#SelectPlan .Content-2 .Pro:hover {
    border-color: #05254E;
}

#toggle {
    margin-top: 2rem;
    min-height: 2.5rem;
    background-color: #EEF5FF;
}

#toggle .container {
    text-align: center;
}

#toggle .switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    margin-top: 0.25rem;
}

#toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #05254E;
    border-radius: 2.5rem;
    cursor: pointer;
    overflow: hidden;
}

#toggle .slider-circle {
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
    width: 1.75rem;
    height: 1.75rem;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
}

#toggle input[type="checkbox"]:checked+.slider.round {
    background-color: #05254E;
}

#toggle input[type="checkbox"]:checked+.slider.round .slider-circle {
    transform: translateX(2rem);
}

#toggle #text {
    font: Ubuntu;
    font-size: 1.5rem;
    font-weight: 500;
}

#toggle #text:first-child {
    color: #05254E;
}

#toggle #text:last-child {
    color: gray;
}

#SelectPlan .Links-2 {
    display: flex;
    width: 40rem;
    margin: auto;
    margin-top: -4rem;
    height: 4rem;
    justify-content: space-between;
}

#SelectPlan .Links-2 a,
#AddOns .Links-3 a,
#FinishingUp .Links-4 a {
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

#SelectPlan .Links-2 a:hover,
#AddOns .Links-3 a:hover,
#FinishingUp .Links-4 a:hover {
    font-weight: 500;
    color: #05254E;
}

#AddOns .Content-3 {
    display: flex;
    flex-direction: column;
    min-height: 17rem;
    margin-top: 2rem;
    justify-content: space-between;
    gap: 1rem;
}

#AddOns .Content-3 .Options {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 1rem;
    height: 5.5rem;
    align-items: center;
    cursor: pointer;
}

#AddOns .Content-3 .Options:hover {
    border-color: #4A3DFF;
}

#AddOns .Options input[type="checkbox"] {
    display: none;
}

#AddOns .Options input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('assets/images/icon-checkmark.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2rem;
    cursor: pointer;
    border: 1px solid lightgray;
}

#AddOns .Options input[type="checkbox"]:checked+label::before {
    background-color: #4A3DFF;
}

#AddOns .Options-Text {
    display: flex;
    flex-direction: column;
    width: 27rem;
    margin-left: 1rem;
}

#AddOns .Options h3 {
    font-size: 1.6rem;
    margin-bottom: -0.5rem;
}

#AddOns .Options p {
    font-size: 1.2rem;
}

#AddOns .Options span {
    font-size: 1.2rem;
    margin-right: 2rem;
}

#AddOns .Links-3 {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 40rem;
    margin: auto;
    margin-top: -4rem;
}


#FinishingUp .Content-4 a {
    cursor: pointer;
    text-decoration: underline;
}

#FinishingUp .Content-4,
#FinishingUp .FinalPrice {
    font-size: 1.4rem;
}

#FinishingUp .Content-4 {
    background-color: #EEF5FF;
    border-radius: 1rem;
    margin-top: 1rem;
}

#FinishingUp .plan-selected {
    display: flex;
    min-height: 6rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-left: 2rem;
    margin-right: 2rem;
}

#FinishingUp .plan-details a {
    font-size: 1.25rem;
}

#FinishingUp .plan-details a:hover {
    color: #4A3DFF;
}

#FinishingUp #plan-name {
    color: #05254E;
    font-weight: 500;
}

#FinishingUp #plan-price {
    color: #05254E;
    font-weight: 500;
}

#FinishingUp .addons-selected {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1rem;
}

#FinishingUp .addonOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    margin-top: 0.5rem;
}

#FinishingUp .addonOptions span:last-child {
    color: #05254E;
}

#FinishingUp .step4-inner-container {
    display: flex;
    flex-direction: column;
}

#FinishingUp .FinalPrice {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#FinishingUp #final-price-number {
    font-size: 1.75rem;
    color: #4A3DFF;
    font-weight: 600;
}

#FinishingUp .Links-4 {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 40rem;
    margin: auto;
    margin-top: -4rem;
}

#FinishingUp .Links-4 #Next-4 {
    background-color: #4A3DFF;
}

#ThankYou .Content-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

#ThankYou .Content-5 img {
    width: 6.75rem;
}

#ThankYou .Content-5 h2 {
    color: #05254E;
    margin-top: 2rem;
    margin-bottom: 0;
}

#ThankYou .Content-5 p {
    text-align: center;
    color: gray;
    font-size: 1.4rem;
    line-height: 2rem;
}

@media(max-width:375px) {
    main {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        width: 37.5rem;
        background-color: #EEF5FF;
    }

    aside {
        background-image: url("./assets/images/bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        width: 37rem;
        display: flex;
        justify-content: center;
        min-height: 17rem;
        margin-top: 0;
        margin-left: 0;
    }

    aside .StepInfo {
        display: none;
    }

    aside .StepNumbers {
        flex-direction: row;
        width: 22rem;
        height: 5rem;
        justify-content: space-around;
    }

    aside .StepNumbers span {
        width: 3.5rem;
        height: 3.5rem;
    }

    .step1-container,
    .step2-container,
    .step3-container,
    .step4-container,
    .step5-container,
    .Content-5 {
        width: 34rem;
        margin-top: -8rem;
        background-color: white;
        border-radius: 1rem;
        margin-left: 1.5rem;
    }

    .step1-inner-container,
    .step2-inner-container,
    .step3-inner-container,
    .step4-inner-container {
        max-width: 34rem;
    }

    .step1-inner-container .Title-1,
    .step1-inner-container .Content-1,
    .step2-inner-container .Title-2,
    .step2-inner-container .Content-2,
    .step3-inner-container .Title-3,
    .step3-inner-container .Content-3,
    .step4-inner-container .Title-4,
    .step4-inner-container .Content-4{
        margin-left: 2.5rem;
        margin-right: 2.5rem;

    }

    #YourInfo .Content-1 input[type="text"],
    #YourInfo .Content-1 input[type="tel"],
    #YourInfo .Content-1 input[type="email"] {
        height: 3.5rem;
    }
    
    #YourInfo .Title-1 p,
    #SelectPlan .Title-2 p,
    #AddOns .Title-3 p,
    #FinishingUp .Title-4 p {
        font-size: 1.6rem;
        width: 28rem;
        line-height: 2.5rem;
        color: gray;
    }

    #YourInfo .Links-1,
    #SelectPlan .Links-2,
    #AddOns .Links-3,
    #FinishingUp .Links-4 {
        background-color: #fff;
        margin-top: 10rem;
        width: 37.5rem;
        height: 8rem;
        align-items: center;
    }

    #YourInfo #Next-1,
    #SelectPlan #Next-2,
    #AddOns #Next-3,
    #FinishingUp #Next-4 {
        margin-right: 2rem;
    }

    #SelectPlan .Links-2 a,
    #AddOns .Links-3 a,
    #FinishingUp .Links-4 a {
        margin-left: 2rem;
    }

    #SelectPlan .Content-2 {
        flex-direction: column;
        justify-content: space-between;
        height: 28rem;
    }

    #SelectPlan .Content-2 .Arcade,
    #SelectPlan .Content-2 .Advanced,
    #SelectPlan .Content-2 .Pro {
        width: 29rem;
        min-height: 7rem;
        border-radius: 1rem;
    }

    #SelectPlan .Content-2 img {
        float: left;
        margin-top: 1.75rem;
    }

    #SelectPlan .Arcade h3,
    #SelectPlan .Advanced h3,
    #SelectPlan .Pro h3 {
        margin-left: 6.5rem;
        width: 15rem;
        font-size: 1.6rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }

    #SelectPlan .Arcade span,
    #SelectPlan .Advanced span,
    #SelectPlan .Pro span {
        font-size: 1.3rem;
        margin-left: 1rem;
    }

    #SelectPlan .Arcade p,
    #SelectPlan .Advanced p,
    #SelectPlan .Pro p {
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .step2-inner-container {
        height: 53rem;
    }
    #SelectPlan #toggle {
        margin: auto;
        margin-top: 2rem;
        width: 28rem;
        padding: 1rem;
    }

    .step3-inner-container {
        height: 38rem;
    }

    #SelectPlan .Links-2 {
        margin-top: 3rem;
    }

    #AddOns .Content-3 {
        min-height: 21rem;
    }

    #AddOns .Content-3 .Options {
        min-height: 6rem;
    }

    .step4-container {
        min-height: 30rem;
        padding-bottom: 2.5rem;
    }
    #FinishingUp .FinalPrice {
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 2rem;
    }

    #ThankYou {
        width : 34rem;
        margin-top: -18rem;
        height: 65rem;
    }

    .Content-5 {
        height: 40rem;
    }

    #ThankYou .Content-5 img {
        width: 6rem;
    }

    #ThankYou .Content-5 p {
        width: 30rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
}